<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Groupie tracker</title>
    <link rel="stylesheet" href="/assets/styles.css">
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico">
</head>
<body>

    <header>
        <div class="logo">LOGO</div>
        <div class="main-title">Groupie tracker</div>
    </header>

    <main>
        <section class="filters">
            <form action="/" method="GET" class="filter-form">

                <!-- SEARCH WITH DATALIST SUGGESTIONS -->
                <div class="filter-group search-group">
                    <label for="search">Search by name, member or location</label>
                    <div class="search-input-wrapper">
                        <svg class="search-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <circle cx="11" cy="11" r="8"/><line x1="21" y1="21" x2="16.65" y2="16.65"/>
                        </svg>
                     <input
                            type="text"
                            id="search"
                            name="search"
                            list="suggestions"
                            placeholder="Search..."
                        >
                            <datalist id="suggestions">
                                {{range .Suggestion}}
                                    <option value="{{.}}">
                                {{end}}
                            </datalist>
                    </div>
                </div>
                <!-- ACTIONS -->
                <div class="filter-actions">
                    <button type="submit">Filter</button>
                    <a href="/">Reset</a>
                </div>

            </form>
        </section>

        <div class="container">
            {{range .Artists}}
                <a href="/artist?id={{.ID}}">
                    <div class="card">
                        <div class="card-header">
                            <img src="{{.Image}}" alt="{{.Name}}">
                        </div>
                        <div class="card-body">
                            <p><span>{{.ID}}</span>{{.Name}}</p>
                        </div>
                    </div>
                </a>
            {{end}}
        </div>
    </main>

    <footer></footer>

</body>
</html>